/* Estilos gerais */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Barra de navegação */
.navbar {
    background-color: #004aad;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1rem;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #ffc107;
}

/* Seção hero */
.hero-section {
    background-image: url('frontend/imagens/fundo1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #ffc107;
    color: black;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cta-button:hover {
    background-color: #e0a800;
}
