#modalComparacao {
    border-radius: 0;
}

#modalComparacao h2 {
    text-align: center;
    margin-bottom: 10px;
}

.comparacao-container {
    background-color: #fff;
    padding: 20px;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.loja-status {
    font-weight: bold;
}

.aberto {
    color: green;
}

.fechado {
    color: red;
}

#btnFechar {
    display: block;
    margin-left: 20px;
    padding: 10px 15px;
    background-color: #dc3545;
    width: 100px;
    height: 40px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#botaoFecharComparacao:hover {
    background-color: #c82333;
}
