.best-sellers{
    display: block;
}

.categories {
    display: flex;
    gap: 50px;
    text-align: center;
}

.category{
    max-width: 80px;
}

.category img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
