.search-container {
    position: relative;
    width: 40%;
    display: flex;
    align-items: center;
}

#search-input {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}

.search-container #search-bnt {
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

#search-bnt img {
    right: 20px;
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
}